{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.md", "*.json", "*.yml", "*.yaml", "*.cff"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
